.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    padding: 0px 30px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    margin: 15px;
    padding: 10px;
    width: 350px;
    
    border: 2px solid rgb(59, 77, 58);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.res-card:hover {
    cursor: pointer;
    border: 2px solid black;
    transform: scale(0.95);
    
}

.Search {
    padding: 10px;
}

.res-logo {
    width: 100%;
    border-radius: 10px;
}

rating-icon {
    color: green;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Shimmer-card {
    margin: 15px;
    padding: 10px;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    justify-content: center;
}

.shimmer {
    background: #3a3a3a;
    background-image: linear-gradient(to right, #3a3a3a 0%, #3f3f3f 10%, #4a4a4a 20%, #3f3f3f 30%, #3a3a3a 50%, #3a3a3a 100%);
    background-repeat: no-repeat;
    
  /* Animantion */
    -webkit-animation-duration: 1s;
    
    /* Specifies style for element when animation isn't playing */
    -webkit-animation-fill-mode: forwards;
    
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    -webkit-animation-timing-function: ease-in-out;
  }

  .filter {
    display: flex;

  }

  .search {
    margin: 0 30px;
  }